<div class="container">
   <label for="uname"><b>Source</b></label>
   <button type="link" {{action 'moveToArticles'}}>{{name}}</button>
   <label for="psw"><b>Description</b></label>
   {{description}}
</div>
